*{
    padding:0px;
    margin:0px;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}
.maincontainer{
    background-color: burlywood;
    height: fit-content;
    padding:25px;
    margin-bottom: 20px;
    
}
.header h1{
    display: inline;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    left: 40%;
}
.form1{
    border:1px solid rgb(177, 177, 177);
    padding:6px;
    border-radius: 4px;
}
#filter{
    display: inline;
    position: fixed;
    right: 20px;
}
.container{
    font-size: 20px;
}
.list-group-item{
     display: flex;
     justify-content: space-between;
     
}
ul{
    margin:20px;
    padding-left: 0px;
}
.card-box{
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.addTask{
    font-size: 25px;
}
